<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.css">

<style>
    /*div.row ul {*/
        /*background: white;*/
    /*}*/
    div.row ul li:nth-child(2n) {
        background: #dff0d8;
    }
</style>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div>
                <h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Welcome To Sms Sender</h1>
                <p>send massive sms via android device</p>
                <a class="btn btn-primary btn-lg" href="/jobs/new">Create New</a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <ul class="list-group col-md-11">
                <% var index = 0; jobs.forEach(function(job){ %>
                <li class="list-group-item">
                    <a href="/jobs/<%= job._id %>">
                        <div>
                            <%= index +1 %> )
                            <%= job.name%>
                            (user : <%= job.author.username %>)
                            <span class="badge" style="float: right"><%= job.description %></span>
                        </div>
                    </a>
                </li>
                <% index++ }); %>
            </ul>
        </div>
    </div>

</div>


<% include ../partials/footer %>