<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div>
                <h1><i class="fa fa-file-text-o" aria-hidden="true"></i> <%= job.name %></h1>
                <p><%= job.created.toDateString() %></p>
            </div>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% job.smslist.forEach(function(sms){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h4>name : <%= sms.name %></h4>
                    <h4>number : <%= sms.phonenumber %></h4>
                    <h4>status : <%= sms.status %></h4>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

</div>


<% include ../partials/footer %>